<img src="http://www.gravatar.com/avatar/4e840af959b7c97638ad1a99f066ef0b?s=140" class="img-circle" />
<h3>Dustin Morrill</h3>
<p>Machine intelligence researcher</p>
<ul class="social">
  <a type="button" href="http://github.com/dmorrill10">
    <i class="fab fa-github" aria-hidden="true"></i>
  </a>
  <a type="button" href="http://linkedin.com/in/dustinmorrill">
      <i class="fab fa-linkedin" aria-hidden="true"></i>
  </a>
  <a type="button" href="http://twitter.com/DustinRMorrill">
      <i class="fab fa-twitter" aria-hidden="true"></i>
  </a>
  <a type="button" href="https://scholar.google.com/citations?user=Nwgz1bsAAAAJ&hl=en&authuser=1&oi=ao">
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
  </a>
</ul>
<div class="footer">
  <p>
    Copyright &#169; Dustin Morrill 2018-2020.

    Theme derived from <a href='https://github.com/thinker3197/ink'>thinker3197/ink</a>.
  </p>
</div>
