@use "sass:color";

.main {
  max-width   : 38rem;
  padding     : 1.4rem 0.8rem;
  margin-left : auto;
  margin-right: auto;
  overflow    : auto;
  @media (min-width: 38rem) {
    margin-top : 0;
    margin-left: 0;
    padding    : 1.5rem;
    min-width  : 80%;
    max-width  : 80%;
    display: inline-block;
    vertical-align: top;
    float: left;
  }

  .mainhead {
    .mainhead-title {
      span {
        color: white;
      }
    }

    .mainhead-nav {
      a {
        color      : $color-dark;
        font-weight: 800;

        &:hover {
          color: $color-main;
        }
      }

      span {
        font-weight: 800;
        color      : $color-main;

        &:focus,
        &:hover {
          color          : $color-main;
          text-decoration: none;
        }
      }
    }
  }

  .content {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    .publications-list em {
      font-weight: bold;
    }
  }
}
