.profile {
  padding            : 2%;
  background-color   : $color-dark;
  background-repeat  : no-repeat;
  background-size    : cover;
  background-position: center;

  .footer {
    p {
      font-size: x-small;
    }

    a {
      font-weight: bold;
    }
  }

  .img-circle {
    height       : auto;
    width        : 20%;
    border-radius: 50%;
    display      : block;
    margin       : 1rem;
    display      : inline;
  }

  h3 {
    height      : auto;
    margin-right: 4vw;
    margin-top  : 10vw;
    width       : 50%;
    float       : right;
    color       : #FFF;
  }

  p {
    height    : auto;
    width     : 100%;
    text-align: center;
    color     : white;
  }

  a {
    color: #CCC;
    @include hover-highlight-main();
  }

  .social {
    margin-left: 25vw;
    height     : auto;
    width      : 100%;
    color      : white;

    .fab {
      margin-left : -2vw;
      font-size   : 1.5em;
      margin-right: 6vw;
      @media (min-width: 38em) {
        font-size   : 2vw;
        margin-left : 0;
        margin-right: 1.4vw;
      }
    }
  }
  @media (min-width: 38em) {
    position: fixed;
    width   : 20%;
    height  : 100%;
    padding : 0;
    max-width: 240px;

    img {
      height: 140px;
      width : 140px;
    }

    h3 {
      text-align: center;
      float     : none;
      width     : 100%;
      margin-top: -0.8em;
    }

    p {
      margin-top: -1.3em;
      font-size : 16px;
      text-align: center;
    }

    .img-circle {
      height     : auto;
      width      : 55%;
      margin-top : 25%;
      margin-left: 24%;
    }

    .social {
      position   : absolute;
      bottom     : 0;
      margin-left: 2vw;

      a {
        padding    : 0;
        margin-left: 0;
      }
    }
  }
}
