<!doctype html>
<html lang="en">
{% include head.html %}

<body class="preload">
    <div class="top"></div>
    <div class="profile">
      {% include profile.html %}
    </div>
    <div id="main" class="main">
      <header class="mainhead">
        <nav class="mainhead-nav">
          {% for nav in site.nav %}
          <a href="{{ nav.href }}">{{ nav.name }}<span> &nbsp;/&nbsp; </span></a>
          {% endfor %}
        </nav>
      </header>
      <div id="content" class="content">
        {{ content }}
      </div>
    </div>
</body>
<script type="text/javascript">
    window.onload = function(){
        document.getElementsByTagName("BODY")[0].classList.remove("preload");
    }
</script>
</html>
